body {
    margin: 0;
}

.header {
    text-align: center;
    font-size: 56px;
    margin: 0;
    padding: 8px 0;
}

.images-rps {
    width: 200px;
    height: 200px;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game {
    text-align: center;

    padding: 16px 0;
}

.background {
    background-image: url("../rock-paper-scissors/images/background.jpg");
    padding: 16px 500px;
}

.button {
    border-radius: 50%;
    border-color: #6E2C00;
    border-width: 4px;
    border-style: dotted;
}

.child {
    
}