body {
    margin: auto;
    background-color: #F7D6E1;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 64px;
    margin: 0;
    padding: 8px 0;
    font-weight: bolder;
}

.images-rps {
    width: 200px;
    height: 200px;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game {
    text-align: center;
    border-style: solid;
    border-width: 8px;
    border-color: #5AB26A;
    background-color: white;
    padding: 4px 5%;
}

.button {
    border-radius: 50%;
    border-color: #BDA46C;
    border-width: 4px;
    border-style: dotted;
}

button:hover {
    cursor: pointer;
}

.results {
    margin-bottom: 0;
    padding-top: 16px;
}

.explaining {
    margin-top: 0;
    padding-bottom: 16px;
}

.explaining, .results {
    background-color: #F7D6E1;
    margin-left: 64px;
    margin-right: 64px;
}